.signIn_Background_Image {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5fd505fa-f425-4a18-b3cc-00dd2638f541/d638b1fe-b44f-4cb3-b5d8-2106904c3be0/IN-en-20220704-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10em;
  padding-top: 0;
  border-bottom: 8px solid #222;
}
.signIn_Background_Image::before{
  content:"";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
    left: 0;
  right: 0;
  top:0;
height: 10vh;
}
.signIn_Background_Image::after{
  content:"";
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
    left: 0;
  right: 0;
  bottom:0;
  height:10vh;
}
.flex_Container_SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10rem; */
  position: relative;
  top: 30%;
  z-index: 101;
}
.signIn_Container {
  position: relative;
  height: 100vh;
}

.signIn_Background_Image .title {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  /* width: 50%;
  margin-left: auto;
  margin-right: auto; */
  margin-bottom: 1rem;
  text-align: center;
}
.warning_wrapper {
  color: red;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}
.signIn_Background_Image .subtitle {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.card_title-detail {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 2rem;
}
.signIn_Background_Image input {
  height: 60px;
  min-width: 30rem;

  border: transparent;
  margin-bottom: 1rem;
  outline: none;
  padding-left: 20px;
}
.signIn_Background_Image .input_Wrapper {
  display: flex;
}
.signIn_Background_Image input::placeholder {
  color: transparent;
  text-align: left;
}
.signIn_Background_Image input:focus::placeholder {
  color: #333;
}
.signIn_Background_Image button {
  height: 60px;
  min-width: 15rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #e50914;
  color: white;
  border: transparent;
  border-left: 1px solid grey;
  text-align: center;
}
@media screen and (max-width: 786px) {
  .signIn_Background_Image {
    padding: 1rem 1rem 0 1rem;
  }
  .signIn_Background_Image .title {
    font-size: 3rem;
  }

  .card_title-detail {
    text-align: center;
  }

  .signIn_Background_Image input {
    min-width: 15rem;
  }
  .input_Wrapper button {
    min-width: 8rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .flex_Container_SignIn {
    margin-top: 2rem;
  }
  .input_Wrapper {
    flex-wrap: wrap;
  }
}
