.NavContainer {
  background-color: transparent;
  max-height: 5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
}
.fixedHomepageBar {
  background-color: #111;
}
.leftHeader > a {
  margin: 0 10px;
  cursor: pointer;
}
.header_link {
  display: block;
}
.leftHeader {
  display: flex;
  align-items: center;
}
.leftHeader a:hover {
  color: #8c8c8c;
}
.leftHeader > img {
  margin-right: 2rem;
}
.NavContainer img {
  height: 100%;
  width: 100%;
}

.NavContainer .Logo {
  height: 3rem;
  width: fit-content;
}
.NavContainer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.signUpNavbar {
  background-color: white;
}

.homeNavbar {
  background-color: #111;
}
.inputWrapper {
  display: flex;
}
.activebuttonHeading {
  display: block;
}
.inactivebuttonHeading {
  display: none;
}
.inputWrapper h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #e50914;
  padding: 5px 10px;
  border-radius: 4px;
}
.inputWrapper button {
  background-color: #e50914;
  float: right;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  padding: 7px 17px;
  border-radius: 4px;
  color: white;
  border: transparent;
}
.inputWrapper > input {
  background-color: #111;
  /* width: 5rem;
  max-width: 100%; */
  border: 1px solid white;
  border-radius: 4px;
  height: 3rem;
  cursor: pointer;
}
.Header_dropdown {
  display: none;
}
.header_Link_Wrapper {
  display: flex;
  align-items: center;
}
input::placeholder {
  color: white;
  text-align: left;
}
.dropdownicon {
  margin-bottom: -5px;
  margin-left: 3px;
  display: none;
}
.header_inputFlex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: transparent;
  max-width: 20rem;
}
.inputborderOpacity {
  border: 1px solid white;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.75);
}
.header_inputFlex .icon {
  margin: 5px;
}
.header_inputFlex input {
  margin: 5px;
  border: transparent;
  background-color: rgba(0, 0, 0, 0.75);
  outline: none;
  color: white;
  transition: ease-in-out 300ms;
}

.Name_Logo {
  border-radius: 10%;
  background-color: #0096ff;
  width: 2rem;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
}
.header_dropDown_wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 756px) {
  .header_link {
    display: none;
  }
  .Header_dropdown {
    display: block;
    color: white;
    font-size: 0.8rem;
  }

  .dropDown_FLex {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 20rem;
    justify-content: flex-start;
    top: 70%;
    z-index: 1000;
    width: 15rem;
    padding-top: 2rem;
    border-top: 2px solid white;
    align-items: center;
  }
  .dropDown_FLex a:hover {
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
    padding: 5px;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-weight: 600;
  }

  .dropdownicon {
    display: inline;
  }
}

@media screen and (max-width: 420px) {
  .dropDown_FLex {
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 20rem;
    justify-content: flex-start;
    top: 70%;
    left: 5%;
    z-index: 1000;
    width: fit-content;
    padding-top: 2rem;
    border-top: 2px solid white;
    align-items: center;
  }
}
