.flex_Wrapper_Search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex_Wrapper_Search div {
  height: 200px;
  width: 300px;
  transition: 300ms ease-in;
  padding: 20px;
}
.serach_Container{padding-bottom: 5rem;}
.searchContainer h3 {
  color: grey;
  margin-right: 5px;
  width: 20rem;
}
.title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.flex_Wrapper_Search img {
  width: 100%;
  height: 100%;
}
.searchContainer {
  padding-top: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.flex_Wrapper_Search div:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.searchContainer span {
  color: white;
  border-right: 2px solid;
  padding: 0 5px;
  line-height: 1.7;
}
.searchContainer span:hover {
  color: grey;
  cursor: pointer;
}
.noneResults {
  color: grey;
  width: 100% !important;
  text-align: center;
  font-size: 30px;
}
.displayNone{
  display: none;
}
.DisplayBlock{display: block;}
.Youtube_Wrap{
  display: none
}
.displayVideo{display: block;}